#shopContainer-Master{ 
  background-color: var(--backgroundColorLighter);
  padding: 50px 50px;
  padding-bottom: 100px;

  position: relative;

  border-bottom: solid 2px black;
}

.shopTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.shopTitle h1{
  font-family: "DM Sans", serif;
  font-weight: 900;
  font-size: 50px;

  padding-bottom: 13px;

  /* position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;  */
}

.shopTitle p{
  font-family: "DM Sans", serif;
  font-weight: 500;
  font-size: 19px;
}

.shopTitle-text{
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  text-align: center;

  width: 90%;
  /* gap: 10px; */
}

.shop-props{
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;

  width: 90%;
}

.line-shoptitle{
  border: solid 2px var(--backgroundColor);
  margin-top: 14px;
}


/* Media section */
@media screen and (max-width: 300px) {
  #shopContainer-Master{
    padding: 20px 18px;
  }

  .shopTitle h1{
    font-size: 30px;
  }

  .shopTitle p{
    font-size: 13px;
  }

  .shopTitle-text{
    width: 100%;
  }
}

@media screen and (min-width: 301px) and (max-width: 400px) {
  #shopContainer-Master{
    padding: 20px 20px;

    margin-top: 30px;
  }

  .shopTitle h1{
    font-size: 34px;
  }

  .shopTitle p{
    font-size: 17px;
  }

  .shopTitle-text{
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  #shopContainer-Master{
    padding: 30px 30px;

    margin-top: 30px;
  }

  .shopTitle h1{
    font-size: 40px;
  }

  .shopTitle p{
    font-size: 18px;
  }

  .shopTitle-text{
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  #shopContainer-Master{
    padding: 30px 30px;

    margin-top: 30px;
  }

  .shopTitle-text{
    width: 100%;
  }
}