@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#submission-container{
    background-color: rgba(77, 90, 174, 0.2);
    margin-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 60px;
    padding-bottom: 7%;

    border-bottom: solid 3px rgba(77, 90, 174, 0.362);
}

.submission-title h1{
    font-size: 40px;

    font-family: "DM Sans", serif !important;
    font-weight: 1000;
}

.line-under-title{
    border: solid 1px;
    width: 100%;
    height: 1px;
}

.the-submission-method{
    /* padding: 30px; */

    display: flex;
    gap: 20px;
    width: 100%;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; */
}

.playlist-submission, .label-submission, .promo-submission{
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 18px;

    background-color: #4d5aae41; 
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    /* width: 500px; */

}

.playlist-submission h1, .label-submission h1, .the-promoSubmission-content h1{
    font-size: 40px;

    font-family: "DM Sans", serif !important;
    font-weight: 1000;
}

.playlist-submission p, .label-submission p, .the-promoSubmission-content p{
    /* font-weight: bold; */
    font-size: 20px;

    font-family: "DM Sans", serif !important;
    font-weight: 900;
}

.the-playlistSubmission-content, .the-labelSubmission-content, .the-promoSubmission-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 11px;
}

.the-playlistSubmission-content button, .the-labelSubmission-content button, .the-promoSubmission-content button{
    width: fit-content;
    align-items: center;

    padding: 16px 16px;
    border: none;
    /* font-weight: 100; */
    border-radius: 10px;
    background-color: #4d5aae;
    color: var(--backgroundColorLighter);
    cursor: pointer;

    transition: all 0.3s ease;
    /* font-family: "Lilita One";
    font-size: 15px; */

    font-family: "DM Sans", serif !important;
    font-weight: 1000;
}

.the-playlistSubmission-content button:hover, .the-labelSubmission-content button:hover, .the-promoSubmission-content button:hover{
    background-color: #4d5aae85; 
}


/* Media Query Section */

/* Media for screens max 300px */
@media screen and (max-width: 300px) {
    #submission-container{
        padding: 10px;
        width: 100%;
        gap: 30px;
    }

    .submission-title h1{
        font-size: 24px;
    }

    .the-submission-method{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .playlist-submission, .label-submission {
        width: 100%;
    }

    .playlist-submission h1, .label-submission h1{
        font-size: 36px;
    }   

    .playlist-submission p, .label-submission p{
        font-size: 20px;
    }    

    .the-playlistSubmission-content button, .the-labelSubmission-content button, .the-promoSubmission-content button{
        font-size: 12px;
        padding: 13px 13px;
    }

}


/* Media for screens 301px  to 600px*/
@media screen and (min-width: 301px) and (max-width: 600px) {
    #submission-container{
        padding: 10px;
        width: 100%;
        gap: 30px;
    }

    .submission-title h1{
        text-align: center;
        font-size: 35px;
    }

    .the-submission-method{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .playlist-submission, .label-submission, .the-promoSubmission-content{
        width: 100%;
    }

    .playlist-submission h1, .label-submission h1{
        font-size: 36px;
    }   

    .playlist-submission p, .label-submission p{
        font-size: 20px;
    }    

    .the-playlistSubmission-content button, .the-labelSubmission-content button, .the-promoSubmission-content button{
        font-size: 12px;
        padding: 14.5px 13.5px;
    }
}


/* Media for screens 601px  to 1200px*/
@media screen and (min-width: 601px) and (max-width: 1200px) {
    #submission-container{
        padding: 10px;
        width: 100%;
        gap: 40px;
    }

    .submission-title h1{
        text-align: center;
    }

    .the-submission-method{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .playlist-submission, .label-submission {
        width: 100%;
    }
}