@font-face {
    font-family: catchyMager;
    src: url(./Catchy-Mager/CatchyMager-Normal.ttf);
}

body{
    /* background: linear-gradient(150deg, #061935, #4d5aae); */
    background-color: rgba(0, 0, 0, 0.858);
    color: white;
    min-height: 100vh;

    font-family: 'catchyMager';
    font-weight: 400;
    font-style: normal;

    overflow-y: hidden;
    overflow-x: hidden;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}