@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* @font-face {
    font-family: "Lilita One";
    src: url('./LilitaOne-Regular.ttf') format('truetype');
    font-weight: 100;

     font-family: "DM Sans", serif;
} */

/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */


:root{ 
    --backgroundColor:rgba(77, 90, 174, 0.2);
    --backgroundColorLighter: #e8e7e7;
    --shadowBackgroundColor: #a6a6a6; 
    --textColor: #262525; 
}

body{
    color: var(--textColor) !important;

    min-height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}
