@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');

/* @font-face {
    font-family: "DM Sans", serif;
    font-weight: 200;
    src: url(./DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
} */



body{
    /* background: linear-gradient(150deg, #061935, #4d5aae); */
    background-color: rgba(0, 0, 0, 0.858);
    color: white;
    min-height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;

    font-family: "DM Sans", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}